#gadget_button {
	position: absolute;
	top: 35px;
	left: 10px;
}

#ext-gen436{
	background-color:transparent;
	border-width:0;
	color:#AA0000;
	cursor:pointer;
	font-weight:bold;
	width:auto;
	font-size:12px;
	margin:0 1px;
	padding:1px;
}

#dashboard{
	position: absolute;
	top: 50px;
	width: 100%;
	height: 100%;
}

.gadget-column-container{
	float: left;
	padding: 2px;
}

.gadget-column-container ul{
	position: relative;
	min-height: 500px;
}

.gadget-column{
	position: relative;
}

.gadget-el{
	position: absolute;
	margin-bottom: 10px;
}

.gadget-chrome{
	margin-bottom: 5px;
}

.gadget-title{
	height: 25px;
	background-color: #D0D0D0;
}

.decollapsed{
	-moz-border-radius-topright: 15px; 
	-moz-border-radius-topleft: 15px; 
}

.collapsed{
	-moz-border-radius: 15px
}

.gadget-title p{
	font-family: arial,helvetica,clean,sans-serif;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	color: 	#707070;
	font-weight: bold;
	font-size:14px;
}

.gadget-title img{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
}

.gadget-chrome{
	border: 1px solid #D0D0D0;	
}
